.git
.gitignore
.vscode
.venv*
__pycache__/
*.py[cod]
*.pyo

.env

Dockerfile
.dockerignore

*.zip
*.json
*.html
*.xlsx
*.xlsm
*.docx

CurrentExportFromNotion/
Screenshots_README/
extracted_logs/
logging/

data/analyze/
data/outputs/
data/research_historical/
data/inputs/resume/
data/inputs/resumes/
data/inputs/*.zip

extracted_skills_*.txt
linkedin_state.json
